<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                MovieRama
            </a>
            {% if request.user.is_authenticated %}

                <p class="navbar-text">Welcome Back
                    <a class="navbar-link" href="{% url 'movie_rama-movies' %}?user={{ request.user.pk }}"> {{ request.user.get_full_name }}</a>
                    <a class="navbar-link" href="{% url 'accounts-logout' %}">Logout</a></p>

            {% else %}
                <a class="navbar-link" href="{% url 'accounts-login' %}">Login</a> or <a href="{% url 'accounts-register' %}" class="navbar-link btn btn-success btn-sm navbar-btn">Register</a>
            {% endif %}
        </div>
    </nav>
    <div class="navbar navbar-default">
        <ul class="nav navbar-nav navbar-left   ">
        <li><a class="navbar-link" href="{% url 'movie_rama-movies' %}?sort=likes{% if user_id %}&user={{ user_id }}{% endif %}">Likes</a></li>
        <li><a class="navbar-link" href="{% url 'movie_rama-movies' %}?sort=hates{% if user_id %}&user={{ user_id }}{% endif %}">Hates</a></li>
        <li><a class="navbar-link" href="{% url 'movie_rama-movies' %}?sort=pub_date{% if user_id %}&user={{ user_id }}{% endif %}">Date</a></li>
        <li><a class="navbar-link" href="{% url 'movie_rama-movies' %}">Disable filters</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <p>{{ message }}</p>
                    </div>
                {% endfor %}


            {% endif %}

        </div>
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>