{% extends "base.html" %}

{% block title %}
    Log in
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in login_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <input type="submit" value="Login" class="btn btn-primary btn-sm" />
            </form>
        </div>
    </div>
{% endblock %}