{% extends 'base.html' %}


{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post">
                {% csrf_token %}
                    {% for field in register_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                <input type="submit" class="btn btn-primary" value="Register" />
            </form>
        </div>
    </div>

{% endblock %}