{% extends 'base.html' %}


{% block title %}
    Add Movie
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="">
                {% csrf_token %}
                    {% for field in movie_add_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}

                        </div>

                    {% endfor %}

                <input type="submit" value="Add Movie" class="btn btn-primary" />
            </form>
        </div>
    </div>
{% endblock %}