{% extends 'base.html' %}

{% block title %}
    Movies
{% endblock %}


{% block content %}
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="pull-right col-md-6">
                <a href="{% url 'movie_rama-add' %}" class="btn btn-sm btn-primary">Add Movie</a>
            </div>
        {% endif %}

    </div>
    <div class="container">
        {% for movie_item in movies %}

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ movie_item.movie.title }}</h2>
                            Posted by <a href="{% url 'movie_rama-movies' %}?user={{ movie_item.movie.user.pk }}">
                            {% if request.user == movie_item.movie.user %}
                                You
                            {% else %}
                                {{ movie_item.movie.user.get_full_name }}
                            {% endif %} </a>  {{ movie_item.movie.pub_date | timesince }} ago
                        </div>
                        <div class="panel-body">
                            <div class="desc">
                                {{ movie_item.movie.description }}
                            </div>
                        </div><!-- end panel-body-->
                        <div class="panel-footer">
                            {% if request.user.is_authenticated and not request.user == movie_item.movie.user%}
                                {% if movie_item.vote %}

                                    {% if movie_item.vote.is_positive %}
                                        {{ movie_item.movie.likes }} like{{ movie_item.movie.likes|pluralize }} | <a href="{% url 'votes-hate' movie_item.movie.pk %}">{{ movie_item.movie.hates }} hate{{ movie_item.movie.hates|pluralize }}</a> You like this movie |
                                        <a href="{% url 'votes-retract_vote' movie_item.movie.pk %}">Unlike</a>
                                    {% else %}
                                        <a href="{% url 'votes-like' movie_item.movie.pk %}">{{ movie_item.movie.likes }} like{{ movie_item.movie.likes|pluralize }}</a> | {{ movie_item.movie.hates }} hate{{ movie_item.movie.hates|pluralize }} | You hate this movie |
                                        <a href="{% url 'votes-retract_vote' movie_item.movie.pk %}">Unhate</a>
                                    {% endif %}

                                {% else %}
                                    <a href="{% url 'votes-like' movie_item.movie.pk %}">{{ movie_item.movie.likes}} like{{movie_item.movie.likes|pluralize}}</a> | <a href="{% url 'votes-hate' movie_item.movie.pk %}">{{ movie_item.movie.hates }} hate{{ movie_item.movie.hates|pluralize }}</a>

                                {% endif %}
                            {% else %}
                                {{ movie_item.movie.likes }} like{{ movie_item.movie.likes|pluralize }} | {{ movie_item.movie.hates }} hate{{ movie_item.movie.hates|pluralize}}

                            {% endif %}
                        </div><!--end panel-footer-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}